.vs/TestCADTool/FileContentIndex/read.lock
.vs/TestCADTool/FileContentIndex/8905be1b-7a01-4e84-85e9-922824880641.vsidx
.vs/TestCADTool/v17/Browse.VC.db
.vs/TestCADTool/v17/Browse.VC.db-shm
.vs/TestCADTool/v17/Browse.VC.db-wal
.vs/TestCADTool/v17/Browse.VC.opendb
.vs/TestCADTool/v17/ipch/AutoPCH/a5767ca99305c814/MAIN.ipch
TestCADTool/x64/Debug/CADModel.obj
TestCADTool/x64/Debug/main.obj
TestCADTool/x64/Debug/TestCADTool.exe.recipe
TestCADTool/x64/Debug/TestCADTool.ilk
TestCADTool/x64/Debug/TestCADTool.log
TestCADTool/x64/Debug/tinyxml2.obj
TestCADTool/x64/Debug/vc143.idb
TestCADTool/x64/Debug/vc143.pdb
TestCADTool/x64/Debug/TestCADTool.tlog/CL.command.1.tlog
TestCADTool/x64/Debug/TestCADTool.tlog/CL.read.1.tlog
TestCADTool/x64/Debug/TestCADTool.tlog/CL.write.1.tlog
TestCADTool/x64/Debug/TestCADTool.tlog/link.command.1.tlog
TestCADTool/x64/Debug/TestCADTool.tlog/link.read.1.tlog
TestCADTool/x64/Debug/TestCADTool.tlog/link.write.1.tlog
TestCADTool/x64/Debug/TestCADTool.tlog/TestCADTool.lastbuildstate
x64/Debug/TestCADTool.exe
x64/Debug/TestCADTool.pdb
